.container {
width: 800px;
margin:auto;
padding-left: 50px;
padding-right: 50px;
box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(57, 107, 169, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
font-family:'Happy Monkey', cursive;
}
p {
    color: #707070;
}
li { 
    color: #707070;
}
h1 {color: #DB0038;}
h2 {color: #3998A3;}
h3 {color:  #474747;}
.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 10px;
}
li{
    padding-top: 5px;
    padding-bottom: 5px;
}
footer {
    text-align: center
}


